.jumbotron {
  padding-top: 6rem;
  background-color: #b7e2be;
}

#Projects {
  background-color: #b7e2be;
}

.footer {
  background-color: rgb(27, 223, 53);
  padding-bottom: 3rem;
}

section {
  padding-top: 5rem;
}
